body {
    background-color: orange;
    text-align: center;
}

#canvasContainer {
    text-align: center;
}

canvas {
    background-color: skyblue;
    width: 350px;
    height: 450px;
}

header {
    text-align: center;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
}